<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Raspberry pi watering system</title>
        {% else %}
        <title>Raspberry pi watering system</title>
        {% endif %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        {% if bokeh_version %}
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-{{bokeh_version}}.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-{{bokeh_version}}.min.js"></script>
        {% endif %}
        {% if script %}
        {{ script | safe }}
        {% endif %}
    </head>
    <body>
        {% include 'web/includes/_navbar.html' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
            {% block scripts %}{% endblock %}
    </body>
</html>
